datasets
azure-ai-inference
azure-ai-projects==1.1.0b2
azure-ai-agents>=1.2.0b2
azure-search-documents
chainlit
chromadb
ipykernel
langfuse
mcp[cli]
mistralai
openai
openlit
pillow
python-dotenv
pandas
semantic-kernel
semantic-kernel[azure]
semantic-kernel[mcp]
azure-identity
uvicorn
httpx-sse