datasets
azure-ai-inference
azure-ai-projects==1.1.0b2
azure-ai-agents>=1.2.0b2
azure-search-documents
chainlit
chromadb
ipykernel
langfuse
mcp[cli]
mistralai
openai
openlit
pillow
python-dotenv
pandas
semantic-kernel>=1.5.0
semantic-kernel[azure]>=1.5.0
semantic-kernel[mcp]>=1.5.0
azure-identity
uvicorn
httpx-sse